body{
    
    background-color: #0A400C;
}
#heading{
    color:#FEFAE0;
    text-align: center;
    font-weight: 200;
    font-size: 50px;
    font-family:fantasy;
    text-decoration: underline;
    letter-spacing: 6px;
    background-color: red;
    width:max-content;
}
.para{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    word-spacing: 5px;
    text-decoration: overline;
}
#para1{
    color:#819067;
    text-align: right;
    text-transform: capitalize;
}
#para2{
    color: #B1AB86;
}
#box{
    color:aqua;
    background-color: rgb(255, 127, 127);
    display:flex;
    justify-content: center;
    align-items: center;
    gap:100px;
}
#main_box{
    height: 400px;
    background-color: orange; 
    display: flex;   
    justify-content: space-evenly;
    align-items: center;
}
.box{
    height: 80%;
    width: 20%;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color:white;
    background-color: rgb(221, 106, 64);
}